:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

body {
  font-family: "Roboto", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}

.main-btn:hover {
  color: var(--yellow-color);
}

.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Start Navbar */
.navbar {
  background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}

.navbar .search {
  margin-left: 5px;
  border-left: 1px solid var(--green-color);
}

.navbar .search svg {
  color: var(--green-color);
}

.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}

/* End Navbar */
/*=========================start landing section =================*/
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}

/**==========================End landing section =================*/
/*===========================Start Features =======================*/
.features .icon-holder {
  height: 200px;
}

.features .icon-holder svg {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}

.features .icon-holder .icon {
  color: var(--green-color);
}

.features .feat {
  color: var(--yellow-color);
}

.portfolio {
  background-color: var(--section-color);
}

.portfolio ul .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}

.portfolio ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.portfolio ul li:not(.active):hover {
  color: var(--red-color);
}

.portfolio .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.portfolio .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: #33d1cc91;
  height: 100%;
  width: calc(100% - 10px);
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 1.5rem;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.portfolio .box:hover::before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/*=========================contact section ==============================*/
.contact {
  margin-top: 70px;
  background-color: var(--section-color);
  padding: 10px 0;
}

.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}

.contact-form .form-control {
  border-radius: 1rem;
  margin-bottom: 10px;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  -webkit-transform: rotate(29deg);
  transform: rotate(29deg);
}

.contact-form form {
  padding: 14%;
}

.contact-form form .row {
  margin-bottom: -7%;
}

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

.footer {
  background-color: var(--dark-color);
  color: #fff;
  padding: 30px 0 20px 0;
  text-align: center;
}

.footer p span {
  font-weight: bold;
  text-decoration: underline;
  color: var(--yellow-color);
}

.bookViewPage {
  min-height: 140vh;
}

.bookViewPage .row .card {
  position: relative;
}

.bookViewPage .row .card .card-body {
  height: 360px;
}

.bookViewPage .row .card .card-body .btn-row {
  position: absolute;
  bottom: 10px;
}

.bookViewPage .single__book {
  min-height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookViewPage .single__book .book_section img {
  height: 500px;
  width: 80%;
}

.bookViewPage .single__book .book_section .book_info h2 {
  margin-bottom: 20px;
}

.bookViewPage .single__book .book_section .book_info h2 span {
  color: #8a8a8a;
}

.bookViewPage .single__book .book_section .book_info h3 {
  margin-bottom: 20px;
}

.bookViewPage .single__book .book_section .book_info h3 span {
  color: #8a8a8a;
}

.bookViewPage .single__book .book_section .book_info p {
  font-size: 23px;
  padding-top: 10px;
}
/*# sourceMappingURL=main.css.map */